.time-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 0 20px; /* 좌우 패딩 추가 */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.grid {
    display: flex;
}

.time-row {
    display: flex;
    flex-direction: column;
    margin-right: 5px; /* 좌우 공백 없앰 */
}

.time-cell {
    height: 35px; /* 시간단위 블럭 높이를 36px로 조정 */
    text-align: center;
    line-height: 35px; /* 높이와 일치하도록 line-height 조정 */
    border-bottom: 1px solid #888888; /* 구분선 추가 */
    padding-right: 5px;
}

.day-column {
    display: grid;
    grid-template-rows: auto repeat(180, 3px); /* 5분 단위로 180칸, 높이 3px로 조정 */
    grid-template-columns: 1fr;
    margin-left: 0px; /* 좌우 공백 없앰 */
    width: 66px; /* 좌우 너비 조정 */
}

.day-header {
    text-align: center;
    align-content: center;
    font-weight: bold;
    margin-top: 0px;
    height: 34px; /* 시간단위 블럭과 동일한 높이로 조정 */
    grid-row: span 1; /* 상단에 위치 */
}

.hour-block {
    display: contents;
}

.time-block {
    width: 98%;
    height: 3.5px; /* 5분단위 블럭 높이를 3px로 조정 */
}

.time-block.class {
    background-color: #D7DFE9;
}
