.InputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    padding: 20px; 
}

.input-form {
    width: 80%;
    max-width: 900px;
    height: 8vh;
    border-radius: 0px;
    font-weight: bold;
    font-size: 1.25vw;
    position: relative;
    transition: background-color 0.5s ease;
    margin: 0px 0px 0px 0px;
    margin-top: 0.25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* notchedOutline 대체 */
}

.input-form-input {
    font-weight: bold;
    max-width: 600px;
    font-size: 1.25vw;
    height: 6vh;
    width: 40vw;
    border: 1px solid black; /* notchedOutline 대체 */
    border-radius: 0px; /* border-radius 추가 */
    justify-content: center;
}

.input-form-input::placeholder {
    color: #999; /* 플레이스홀더 텍스트 색상 설정 */
    font-weight: normal; /* 플레이스홀더 텍스트 굵기 설정 */
}

.input-form-label {
    font-size: 1.5vw;
    margin-bottom: 0.5vw;

    width: 100%;
}

.InputWrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
}