.input-form-input {
    font-weight: bold;
    font-size: 1.25vw;
    height: 6vh;
    width: 40vw;
    border: 1px solid black; /* notchedOutline 대체 */
    border-radius: 0px; /* border-radius 추가 */
}

.input-form-input::placeholder {
    color: #999; /* 플레이스홀더 텍스트 색상 설정 */
    font-weight: normal; /* 플레이스홀더 텍스트 굵기 설정 */
}

.input-form-label {
    margin-top: 0.5vw;
    font-size: 0.5vw;
    width: 100%; /* 전체 너비 */
}

.InputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}